// Light Mode
:root,
[data-theme='light']:root {
	// Branding
	--primary: #8a5a44;				// soft coffee brown
	--secondary: #58806d;			// mutted green tea

	// Text
	--text: #3c3a39;						// cozy expresso black
	--text-secondary: #716b67;	// softened warm gray
	--text-inverted: #fdfaf6;	// creamy off-white

	// Background & Surfaces
	--background: #f6efe4;			// soft vanilla latte
	--surface: #f2e7d5;				// warm parchment
	--border: #dac9b8;					// faded caramel line
}

// Dark Mode
[data-theme='dark']:root {
	// Branding
	--primary: #c89f94;         // dusty rose
	--secondary: #7a8e81;       // herbal muted sage

	// Text
	--text: #ece5dc;            // faded cream text
	--text-secondary: #b9aea4;  // mellow mocha gray
	--text-inverted: #241c18;   // rich cocoa brown

	// Background & Surfaces
	--background: #2a231f;      // deep chocolate
	--surface: #3a312c;         // espresso wood
	--border: #5c4f47;          // cinnamon edge
}
